<html>
<body>

<div id="container">
	<div id="theTarget">
		<div class="test1"></div>
		<div class="test2"></div>
		<div class="test3"></div>
		<div class="test4"></div>
		<div class="test5"></div>
	</div>
</div>

<h1 class="jquery">Hello jQuery!</h1>
<h1 class="jquery">ようこそ<strong>Bookers</strong>へ！</h1>
<p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
<p>印象を共有し交換することができます</p>
<p>
	<a href="/books">start</a>
</p>
</body>
</html>
